{% extends 'base.html' %}

{% block content %}
    {{title|safe}}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for post in image %}
      {% if post != None %} 

          <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" id="slide{{ loop.index }}">
              <center>
             {%if post['alt']!="line"%}
              <img src="{{post['src']}}" alt="{{post['alt']}}" width="750px" height="450px"><strong><p>{{post['alt']}}</p></strong>
              {%else%}
              <img src="{{image[loop.index]['src']}}" alt="{{image[loop.index]['alt']}}" width="750px" height="450px"><strong><p>{{image[loop.index]['alt']}}</p></strong>
            {%endif%}
            </center>
          </div>

     {% endif %}
   {% endfor %} 
 </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <p>{{body|safe}}</p>
{% endblock %}